<div id="mc_embed_signup">
    <form action="https://rocks.us7.list-manage.com/subscribe/post?u=e5a068e9631cc8ce0e4cd0cbf&amp;id=f8954697e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
	    <label for="mce-EMAIL">Subscribe to dragan.rocks mailing list</label>
	    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5a068e9631cc8ce0e4cd0cbf_f8954697e1" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div>

<a href="https://patreon.com/draganrocks">Please support my work on Patreon</a> by <a href="https://dragan.rocks/articles/18/Patreon-Announcement-Adopt-a-Function">adopting a pet Neanderthal function in your name!</a> I'll invite you to a dedicated <a href="https://discordapp.com">Discord</a> discussion server. Can't afford to donate? Ask for a free invite.

<footer class='bs-docs-footer' role="contentinfo">

    <div class="container">
        <div class="bs-docs-social">
            <ul><li><img src="https://clojars.org/uncomplicate/neanderthal/latest-version.svg"/></li>
                <li>
                    <ul class="bs-docs-social-buttons">
                        <li>
                            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=uncomplicate&amp;repo=neanderthal&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
                        </li>
                        <li class="follow-btn">
                            <a href="https://twitter.com/uncomplicateorg" class="twitter-follow-button"
                               data-link-color="#0069D6" data-show-count="true">Follow @uncomplicateorg</a>
                        </li>
                        <li class="follow-btn">
                            <a href="https://twitter.com/draganrocks" class="twitter-follow-button"
                               data-link-color="#0069D6" data-show-count="true">Follow @draganrocks</a>
                        </li>
                        <li class="tweet-btn">
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-url="https://neanderthal.uncomplicate.org/" data-count="horizontal"
                               data-via="draganrocks" data-related="Creator of Neanderthal">Tweet</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <p>This website was developed by &nbsp;<a href='https://draganrosks'>Dragan Djuric</a>.</p>
            <p>Copyright © 2014-2017 <a href="https://dragan.rocks">Dragan Djuric</a></p>
        </div>
    </div>
</footer>
