<header class="navbar navbar-default navbar-inverse" id="top" role="banner">
    <div class='container'>
        <div class='navbar-header'>
            <button class='navbar-toggle collapsed' type="button"
                    data-target='.bs-navbar-collapse' data-toggle='collapse'>
                <span class="sr-only">Toggle navigation</span>
                <span class='glyphicon-bar'></span>
                <span class='glyphicon-bar'></span>
                <span class='glyphicon-bar'></span>
            </button>
            <a href="../" class="navbar-brand">Neanderthal</a>
        </div>
        <nav class='collapse navbar-collapse bs-navbar-collapse' role="navigation">
            <ul class='nav navbar-nav'>
                <li>
                    <a href="/articles/guides.html">All guides</a>
                </li>
                <li>
                    <a href="/articles/benchmarks.html">Benchmarks</a>
                </li>

                <li>
                    <a href='/articles/community.html'>Community</a>
                </li>
                <li>
                    <a href='https://github.com/uncomplicate/neanderthal'>Code on Github</a>
                </li>
                <li>
                    <a href='/codox'>API docs</a>
                </li>
                <li>
                    <a href='http://uncomplicate.org'>More Clojure libraries</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
