/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
body {
  position: relative;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
.clearfix:after {
    clear: both;
}

.fixed-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
}
.fixed-container:before, .fixed-container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline;
}
.fixed-container:after {
    clear: both;
}

article pre {
    font-size: 13px !important;
}

.container > section {
    margin-top: 60px;
}

strong {
    color: #cb4b16;
}

.marketing h2 {
    margin: 36px 0 27px;
    text-align: center;
}

.sidebar-nav {
    padding: 9px 0;
}

.headline {
  padding: 50px;
  text-align: center;
}
.headline h1 {
    font-size: 100px;
    line-height: 150px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}
.headline p {
    padding-bottom: 10px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
}
.headline .logo {
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

code {
    line-height: 2em;
}

h2 {
    line-height: 2em;
}

@media (min-width: 767px) and (max-width: 979px) {

    .headline h1 {
        font-size: 65px;
    }

    .container-fluid footer {
        padding-left: 0px;
        border-top: 1px solid #e5e5e5;
    }
}
@media (max-width: 767px) {

    .headline h1 {
        font-size: 60px;
    }

    .container-fluid footer {
        padding-left: 0px;
        border-top: 1px solid #e5e5e5;
    }
}
@media (max-width: 480px) {
    body {
        background: none;
    }

    .headline {
        padding: 0;
    }
    .headline h1 {
        line-height: 60px;
        padding-top: 85px;
        font-size: 30px;
    }

    .container-fluid footer {
        padding-left: 0px;
        border-top: 1px solid #e5e5e5;
    }
}
