<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>
    <head>
        <title>{{page.title}}</title>
        <meta content='width=device-width, initial-scale=1.0' name='viewport' />
        <meta content='Clojure matrix library built on top of ATLAS BLAS and LAPACK' name='description' />
        <meta content='Dragan Djuric' name='author' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link href="/assets/stylesheets/docs.css" rel="stylesheet">
        <link href='/assets/stylesheets/pygments.css' media='screen' rel='stylesheet' type='text/css' />
        <link href='/assets/stylesheets/sass/styles.css' media='screen' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css' />
        <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
        <script type="text/javascript">
         if(!(window.location.hostname === "localhost")) {
             var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-42173051-3']);
             _gaq.push(['_trackPageview']);

             (function() {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         }
        </script>
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse" id="top" role="banner">
            <div class='container'>
                <div class='navbar-header'>
                    <button class='navbar-toggle collapsed' type="button"
                            data-target='.bs-navbar-collapse' data-toggle='collapse'>
                        <span class="sr-only">Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a href="../" class="navbar-brand">Neanderthal</a>
                </div>
                <nav class='collapse navbar-collapse bs-navbar-collapse' role="navigation">
                    <ul class='nav navbar-nav'>
                        <li>
                            <a href="/articles/guides.html">All guides</a>
                        </li>
                        <li>
                            <a href='/articles/community.html'>Community</a>
                        </li>
                        <li>
                            <a href='https://github.com/uncomplicate/neanderthal'>Code on Github</a>
                        </li>
                        <li>
                            <a href='/codox'>API docs</a>
                        </li>
                        <li>
                            <a href='http://uncomplicate.org'>More Clojure libraries</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class='container bs-docs-container'>
            <div class='row'>
                <div class='col-md-3' role="complimentary">
                    <nav class='bs-docs-sidebar hidden-print hidden-xs affix-top' id="toc">
                    </nav>
                </div>
                <div class='col-md-9 bs-docs-section' role=main>
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <strong>Are you a native English speaker? Please <a href="/articles/community.html">help us improve this page</a>. Clone <a href="https://github.com/uncomplicate/neanderthal/tree/gh-pages">the source code of this website</a>, make your changes, and issue a pull request on GitHub or, if you prefer, simply send us the changes in plain text files.</strong>
                    </div>

                    {{ content }}

                    <h1 id="tell_us_what_you_think">Tell Us What You Think!</h2>
                    <p>Please take some time to tell us about your experience with the library and this site. <a href="/articles/community.html">Let us know</a> what we should be explaining or is not clear enough. If you are willing to contribute improvements, even better!</p>
                </div>
            </div>
        </div>

        <footer class='bs-docs-footer' role="contentinfo">
            <div class="container">
                <div class="bs-docs-social">
                    <ul class="bs-docs-social-buttons">
                        <li>
                            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=uncomplicate&amp;repo=neanderthal&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
                        </li>
                        <li>
                            <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=uncomplicate&amp;repo=neanderthal&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
                        </li>
                        <li class="follow-btn">
                            <a href="https://twitter.com/uncomplicateorg" class="twitter-follow-button"
                               data-link-color="#0069D6" data-show-count="true">Follow @uncomplicateorg</a>
                        </li>
                        <li class="tweet-btn">
                            <a href="https://twitter.com/share" class="twitter-share-button"
                               data-url="http://neanderthal.uncomplicate.org/" data-count="horizontal"
                               data-via="uncomplicateorg" data-related="Creator of Neanderthal">Tweet</a>
                        </li>
                    </ul>

                    <p>This website was developed by
                        &nbsp;<a href='http://github.com/uncomplicate'>Uncomplicate</a>.</p>
                    <p>Copyright © 2015 <a href="http://github.com/blueberry">Dragan Djuric</a></p>
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/docs.min.js"></script>
        <script src='/assets/javascripts/toc.js'></script>

        <script type="text/javascript">
         $(document).ready(function() {
             $("table").addClass("table table-striped table-bordered table-condensed success");
         })
        </script>

        <script type="text/javascript">
         $(document).ready(function() {
             $('#toc').toc({listType: 'ul'});
         });
        </script>

        <script>
         window.twttr = (function (d,s,id) {
             var t, js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
             js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
             return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
         }(document, "script", "twitter-wjs"));
        </script>

    </body>
</html>
