<!DOCTYPE html>
<html>

    {% include head.html %}

    <body data-spy="scroll" data-target="#toc">

        {% include header.html %}

        <div class='container'>
            <a class="github-fork-ribbon" href="https://github.com/uncomplicate/neanderthal" title="Source on GitHub">Source on Github</a>

            <div class='row'>

                <div class='col-md-9 bs-docs-section' role=main>
                    <h1 data-toc-skip>{{page.title}}</h1>

                    {{ content }}

                    <h2 data-toc-skip id="tell_us_what_you_think">Tell Us What You Think!</h2>
                    <p>Please take some time to tell us about your experience with the library and this site. <a href="/articles/community.html">Let us know</a> what we should be explaining or is not clear enough. If you are willing to contribute improvements, even better!</p>
                </div>

                <div class='col-md-3' role="complimentary">
                    <nav id="toc" class="nav nav-tabs" data-spy="affix" data-toggle="toc"></nav>
                </div>
            </div>

            {% include footer.html %}

    </body>
    {% include scripts.html %}

</html>
